* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: background-color 0.1s linear; */
}
html {
  font-size: 1vw;
}
body {
  background-color: #232931;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.clock-container {
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  background-color: #232931;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 1.6rem 1.6rem 4.8rem #1e232a,
    inset -1.6rem -1.6rem 4.8rem #282f38; */
}

.line {
  position: absolute;
  width: 0.6rem;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.end {
  width: 0.4rem;
  height: 2.5rem;
  background-color: #4ecca3;
  border-radius: 5px;
  box-shadow: 5px 5px 0.6rem rgba(0, 0, 0, 0.5);
}

.main {
  width: 0.6rem;
  height: 4rem;
}

.two {
  transform: rotate(30deg);
  width: 0.4rem;
}
.three {
  transform: rotate(60deg);
  width: 0.4rem;
}
.four {
  transform: rotate(90deg);
}
.five {
  transform: rotate(120deg);
  width: 0.4rem;
}
.six {
  transform: rotate(150deg);
  width: 0.4rem;
}

.center-pad {
  position: absolute;
  width: 26rem;
  height: 26rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  width: 1rem;
  height: 1rem;
  background-color: #eeeeee;
  border-radius: 100%;
  z-index: 1;
  border: 0.13rem solid #232931;
}

.hand {
  position: absolute;
  top: 0;
  transform-origin: bottom;
  border-radius: 0.3rem;
}

.hour {
  top: 3rem;
  width: 0.6rem;
  height: 10rem;
  background-color: #eeeeee;
  border: 0.13rem solid #232931;
}

.minute {
  top: 1.3rem;
  width: 0.3rem;
  height: 11.7rem;
  background-color: #eeeeee;
  border: 0.13rem solid #232931;
}

.second {
  top: 0.6rem;
  width: 0.2rem;
  height: 12.4rem;
  background-color: red;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 2vw;
  }
}
@media (orientation: landscape) and (max-width: 1000px) {
  html {
    font-size: 1.25vw;
  }
}
.toggle-container {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  width: 80px;
  height: 30px;
  background-color: #fff;
  /* box-shadow: 1.6rem 1.6rem 37px #1b2026, -1.6rem -1.6rem 37px #2b323c; */
  border-radius: 100px;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
  padding: 2.5px;
}

.circle {
  cursor: pointer;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  /* float: right; */
  transition: float 1s linear;
  left: 0;
}
